<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../../partials/__head.ejs', { title: 'Tambah Tempat Terbit Buku' }) %>
</head>

<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper">
            <%- include('../../../partials/__nav.ejs', { currentPath: '/pengurus/user/buku/tempat-terbit/create' }) %>
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Tambah Tempat Terbit Buku</h4>
                                    <p class="card-description">Isi detail tempat terbit buku baru</p>
                                    <form class="forms-sample" action="/pengurus/user/buku/tempat-terbit/create" method="POST">
                                        <div class="form-group">
                                            <label for="namaTempatTerbit">Nama Tempat Terbit</label>
                                            <input type="text" class="form-control" id="namaTempatTerbit" name="nama" placeholder="Masukkan nama tempat terbit, contoh: Jakarta" required>
                                        </div>
                                        <button type="submit" class="btn btn-primary mr-2">Simpan</button>
                                        <a href="/pengurus/user/buku/tempat-terbit" class="btn btn-light">Batal</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../../../partials/__foot.ejs') %>
</body>

</html>
