<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/__head.ejs') %>
</head>

<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper">
            <%- include('../partials/__nav.ejs') %>
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Edit Bahasa</h4>

                                    <form class="forms-sample">
                                        <div class="form-group">
                                            <label for="bahasa">Bahasa</label>
                                            <input type="text" class="form-control" id="bahasa" placeholder="Edit bahasa yang digunakan, contoh: Indonesia">
                                        </div>
                                        <button type="submit" class="btn btn-primary mr-2">Simpan</button>
                                        <button class="btn btn-light">Batal</button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%- include('../partials/__foot.ejs') %>
            </div>
        </div>
    </div>
</body>

</html>