<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Form Bahasa</title>
    <link rel="stylesheet" href="../../vendors/feather/feather.css">
    <link rel="stylesheet" href="../../vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../../vendors/select2/select2.min.css">
    <link rel="stylesheet" href="../../vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
    <link rel="stylesheet" href="../../css/vertical-layout-light/style.css">
    <link rel="shortcut icon" href="../../images/favicon.png" />
</head>

<body>
    <div class="container-scroller">
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo mr-5" href="../../index.html">
                    <img src="../../images/Logo Perpustakaan Medayu.png" class="mr-2" alt="logo" />
                    <h6>Perpustakaan Medayu Agung</h6>
                </a>
                <a class="navbar-brand brand-logo-mini" href="../../index.html">
                    <img src="../../images/Logo Perpustakaan Medayu.png" alt="logo" />
                </a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="icon-menu"></span>
                </button>
                <ul class="navbar-nav mr-lg-2">
                    <li class="nav-item nav-search d-none d-lg-block">
                        <div class="input-group">
                            <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                                <span class="input-group-text" id="search">
                                    <i class="icon-search"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" id="navbar-search-input" placeholder="Search now" aria-label="search" aria-describedby="search">
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item">
                        <a class="nav-link" href="#"> <i class="ti-power-off text-primary"></i>
                            Logout
                        </a>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="icon-menu"></span>
                </button>
            </div>
        </nav>

        <div class="container-fluid page-body-wrapper">
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../../index.html">
                            <i class="icon-grid menu-icon"></i>
                            <span class="menu-title">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../buku/buku.html">
                            <i class="icon-columns menu-icon"></i>
                            <span class="menu-title">Buku</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../majalah/majalah.html">
                            <i class="icon-columns menu-icon"></i>
                            <span class="menu-title">Majalah</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#data-master-buku" aria-expanded="false" aria-controls="data-master-buku">
                            <i class="icon-book menu-icon"></i>
                            <span class="menu-title">Data Master Buku</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="data-master-buku">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="#">Bahasa</a></li>
                                <li class="nav-item"> <a class="nav-link" href="#">Tempat Terbit Buku</a></li>
                                <li class="nav-item"> <a class="nav-link" href="#">Penerbit Buku</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#data-master-majalah" aria-expanded="false" aria-controls="data-master-majalah">
                            <i class="icon-book menu-icon"></i>
                            <span class="menu-title">Data Master Majalah</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="data-master-majalah">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="#">Tempat Terbit Majalah</a></li>
                                <li class="nav-item"> <a class="nav-link" href="#">Penerbit Majalah</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#lokasi" aria-expanded="false" aria-controls="Lokasi">
                            <i class="icon-paper menu-icon"></i>
                            <span class="menu-title">Lokasi</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="lokasi">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="#">Lantai</a></li>
                                <li class="nav-item"> <a class="nav-link" href="#">Ruang</a></li>
                                <li class="nav-item"> <a class="nav-link" href="#">Rak</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>

            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Edit Bahasa</h4>

                                    <form class="forms-sample">
                                        <div class="form-group">
                                            <label for="bahasa">Bahasa</label>
                                            <input type="text" class="form-control" id="bahasa" placeholder="Edit bahasa yang digunakan, contoh: Indonesia">
                                        </div>
                                        <button type="submit" class="btn btn-primary mr-2">Simpan</button>
                                        <button class="btn btn-light">Batal</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="footer-section">
                <div class="logo-section">
                    <img src="../../images/Logo Perpustakaan Medayu putih.png" alt="logo" />
                    <p>Perpustakaan Medayu Agung 2025</p>
                </div>
                <h3>Jam operasional</h3>
                <ul class="hours-list">
                    <li>Senin - Jumat: 09.00-16.00</li>
                    <li>Sabtu: 09.00-16.00</li>
                    <li>Libur nasional tutup</li>
                </ul>
            </div>

            <div class="footer-section">
                <h3>Kontak Kami</h3>
                <p><span class="icon">📞</span> +62811324989 (WA Only)</p>
                <p><span class="icon">📞</span> +62(031) 8703505</p>
                <p><span class="icon">✉️</span> sekretariat@medayuagung.or.id</p>
                <p><span class="icon">📷</span> medayu.agung</p>
                <p><span class="icon">▶️</span> Sahabat Medayu Agung Surabaya</p>
            </div>

            <div class="footer-section">
                <h3>Lokasi</h3>
                <p><span class="icon">📍</span> Jalan Medayu Selatan IV No. 42-44 Perumahan Kosagrha, Kel. Medokan Ayu, Kec. Rungkut, Surabaya 60295</p>
                <div class="maps-placeholder">
                    GAMBAR MAPS
                </div>
            </div>

            <div class="copyright">
                Copyright © Perpustakaan Medayu Agung 2025
            </div>
        </footer>
    </div>
    <script src="../../vendors/js/vendor.bundle.base.js"></script>
    <script src="../../vendors/typeahead.js/typeahead.bundle.min.js"></script>
    <script src="../../vendors/select2/select2.min.js"></script>
    <script src="../../js/off-canvas.js"></script>
    <script src="../../js/hoverable-collapse.js"></script>
    <script src="../../js/template.js"></script>
    <script src="../../js/settings.js"></script>
    <script src="../../js/todolist.js"></script>
    <script src="../../js/file-upload.js"></script>
    <script src="../../js/typeahead.js"></script>
    <script src="../../js/select2.js"></script>
</body>

</html>