<%- include('../../../../partial/__messages.ejs') %>
<%- include('../../../../partial/__head.ejs', { title: 'Daftar Tempat Terbit Majalah' }) %>
<%- include('../../../../partial/__nav-side.ejs') %>

<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Tambahkan Tempat Terbit Majalah</h4>
        <form class="forms-sample" action="/pengurus/tempat-terbit-majalah/create" method="POST">
          <div class="form-group">
            <label for="inputTempatTerbit">Tempat Terbit</label>
            <input type="text" class="form-control" id="inputTempatTerbit" name="nama_tempat_terbit_majalah" placeholder="Inputkan Tempat Terbit" required>
          </div>
          <button type="submit" class="btn btn-primary mr-2">Submit</button>
          <a href="/pengurus/tempat-terbit-majalah" class="btn btn-light">Cancel</a>
        </form>
      </div>
    </div>
  </div>

<%- include('../../../../partial/__script.ejs') %>