<%- include('../../../partial/__head.ejs', { title: 'Daftar Bahasa' }) %>
<%- include('../../../partial/__nav-side.ejs') %>

<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Tambahkan Bahasa</h4>
        <form class="forms-sample" action="/pengurus/bahasa/create" method="POST">
          <div class="form-group">
            <label for="inputBahasa">Bahasa</label>
            <input type="text" class="form-control" id="inputBahasa" name="bahasa" placeholder="Inputkan Bahasa" required>
          </div>
          <button type="submit" class="btn btn-primary mr-2">Submit</button>
          <a href="/pengurus/bahasa" class="btn btn-light">Cancel</a>
        </form>
      </div>
    </div>
  </div>

<%- include('../../../partial/__script.ejs') %>