<%- include('../../../../partial/__messages.ejs') %>
<%- include('../../../../partial/__head.ejs', { title: 'Daftar Pengarang Buku' }) %>
<%- include('../../../../partial/__nav-side.ejs') %>

<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Tambahkan Pengarang Buku</h4>
        <form class="forms-sample" action="/pengurus/pengarang-buku/create" method="POST">
          <div class="form-group">
            <label for="inputPengarang">Pengarang Buku</label>
            <input type="text" class="form-control" id="inputPengarang" name="nama_pengarang" placeholder="Inputkan Pengarang Buku" required>
          </div>
          <button type="submit" class="btn btn-primary mr-2">Submit</button>
          <a href="/pengurus/pengarang-buku" class="btn btn-light">Cancel</a>
        </form>
      </div>
    </div>
  </div>

<%- include('../../../../partial/__script.ejs') %>